<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %> 
<body>

	<%- include('composants/entete') %>
	<%- include('composants/menu') %>
	<h1>Membres</h1>

	<%- include('composants/accueil') %>
	<%- include('composants/footer') %>
</body>
</html>